*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
all.log
classes.txt
dataTypeProperties.txt
dbpediaData/*.bz2
indexData/
luceneIndexes/
nbactions.xml
objectProperties.txt

Wikipedia/
luceneIndex/
rawFiles/
models
trainResult
Train.sh
copy.sh
run.log
states.txt
statesTest.txt
